@font-face {
    font-family: 'MonsterFriendBack';
    src: url('../font/MonsterFriendFore.otf') format('opentype');
    /* You can add additional font properties here if needed */
}

html {
    background-image: url("../images/nightsky-background.png");
    background-position: cover;
    animation: stars-background-animation 10s ease infinite;
}

body {
    font-family: 'MonsterFriendBack', cursive;
    padding: 20px;
    margin: 20px;
    background-position: cover;
    background-repeat: repeat-x;
    background-size: 80%;
    animation: grass-background-animation 10s ease infinite;
}

button {
    background-color: #966F33;
    color: aliceblue;
    border-style: inset;
    border-color: rgb(41, 41, 41);
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-family: 'MonsterFriendBack', cursive;
    text-shadow: 3px 3px 3px black;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(41, 41, 41);
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-family: 'MonsterFriendBack', cursive;
    text-shadow: 3px 3px 3px black;
}

@keyframes stars-background-animation {
    0% {
        background-position: 25% 25%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 25% 25%;
    }
}

@keyframes grass-background-animation {
    0% {
        background-position: 25% 100%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 25% 100%;
    }
    
}

.container{
    display: flex;
    background-color: rgba(34, 34, 34, 0.652);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: inset;
    height: 50%;
}

.container-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: inset;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    
    text-align: center;
}

h1 {
    font-size: 1.6em;
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
    animation: text-animation 5s ease infinite;
    text-align: center;
    padding: 4px;
    margin: 4px;
}

h2 {
    font-size: 1.0em;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    animation: text-animation 5s ease infinite;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

h3 {
    font-size: 0.8em;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    animation: text-animation 5s ease infinite;
    text-align: center;
    padding: 1px;
    margin: 1px;
}

a {
    font-size: 0.4em;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    animation: text-animation 5s ease infinite;
    text-align: center;
    padding: 1px;
    margin: 1px;
}

footer {
    display: flex;
    position: bottom;
    color: aliceblue;
    background-color: rgb(41, 41, 41);
    border-style: inset;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Center vertically */
    bottom: 0;
    width: auto;
    height: 100px; /* Set a fixed height for the footer or adjust as needed */
}

.social-icons a {
    display: inline-block; /* Ensures each icon is on a separate line */
    margin-right: 10px; /* Adjust margin between icons */
}

@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}
.heart-beat {
  width: 50px;
  animation: heartbeat 1s infinite;
}


    




